.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.col {
    height: min-content;
}

.form-control>img {
    height: 100%;
    object-fit: contain;
}

#root div div.form-control-img {
    text-align: center;
    height: calc(5em + .75rem + 2px);
    font-weight: bold;
}

@media (max-width:768px) {
    .row {
        flex-direction: column;
    }
}