:root {
  --color-primary-background: rgb(24, 26, 27);
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ffc107;
  --accent-color-border: rgb(138, 103, 0);
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --iron-color: #52595d;
  --bronze-color: #894218;
  --silver-color: #c0c0c0;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

