.section {
  height: 90vh;
  width: 100%;
}

/* .backgroundSpace {
  background: linear-gradient(to bottom, transparent 95%, white),
    url("/background.jpg");
  background-size: cover;
  background-position: auto, 50% 50%;
} */
.rocketImg {
  transform: rotate(40deg);
}
